[tool.poetry]
authors = ["Anja Virkkunen <anja.virkkunen@aalto.fi>"]
description = "Aalto ASR preprocessing tool for preparing texts."
homepage = "https://github.com/aalto-speech/aalto-asr-preprocessor"
keywords = ["aalto", "ASR", "preprocessor"]
license = "MIT"
name = "aalto-asr-preprocessor"
readme = "README.rst"
repository = "https://github.com/aalto-speech/aalto-asr-preprocessor"
version = "2021.3.10"

[tool.poetry.dependencies]
click = "^7.1.2"
python = "^3.8"

[tool.poetry.dev-dependencies]
Sphinx = "^3.5.1"
black = "^20.8b1"
coverage = {extras = ["toml"], version = "^5.4"}
darglint = "^1.7.0"
flake8 = "^3.8.4"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.4.3"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.0.14"
mypy = "^0.812"
pre-commit = "^2.10.1"
pre-commit-hooks = "^3.4.0"
pytest = "^6.2.2"
reorder-python-imports = "^2.4.0"
safety = "^1.10.3"
sphinx-autobuild = "^2020.9.1"
sphinx-click = "^2.5.0"
sphinx-rtd-theme = "^0.5.1"

[tool.poetry.scripts]
aalto-prep = "aalto_asr_preprocessor.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["aalto_asr_preprocessor"]

[tool.coverage.report]
fail_under = 100
show_missing = true

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.pytest.ini_options]
addopts = "-ra -q"
testpaths = [
    "tests",
]
